{% extends 'base.html' %}
{% load static %}

{% block title %}
Boutique
{% endblock %}
{% block content %}

<div class="container-fluid">
  {% include 'menu.html' %}
</div>
<div class="row " style="margin-top: 6em;">
  <div class="col-12">
    <form action="" method="post">
      <input type="text" class="input" required placeholder="Rechercher des produits"
        style="width: 25em;margin-left: 1em;height: 2.5em;border-radius: 4em;">
      <input type="submit" value="rechercher" class=" btn btn-primary" style="color: white;">
    </form>
  </div>
</div>
<div class="container mb-3" style="margin-top: 8em;">
  <div class="row">
    <div class="col-12 col-md-2 col-lg-2 menu" style="border-right: 2px solid black;">
      <a href="{% url 'chaussure' %}" class="menu-v pb-2 text-danger">Chaussures</a><br>
      <a href="#" class="menu-v  pb-2">Chemises</a><br>
      <a href=" # " class="menu-v  pb-2">Vetements</a><br>
      <a href=" # " class="menu-v  pb-2">Telephones</a><br>
      <a href=" # " class="menu-v  pb-2">Ordinateurs</a><br>

      <!--  <a href=" {% url 'voiture' %} " class="menu-v  pb-2">Voitures</a><br>-->

    </div>

    <div class="col-12 col-md-10 col-lg-10">
      <div class="container-fluid">
        <div class="row ">

          <!--la boucle pour la repetion des elements-->
          {% for i in chaussure %}

          <div class="col-sm-12 col-md-4 col-lg-4" style="margin-top: 1em;" height="200" class="img-fluid">
            <div class="card h-100">
              <a href="{% url 'details' i.id %}">
                <img src="{{i.img.url}}" class="card-img-top" alt="..." height="200px" /></a>
              <div class="card-body">
                <h5 class="card-title">{{i.designation}}</h5>
                <p class="card-text">
                  {{i.description}} <br>
                </p>
                <p>prix : {{i.prix}} FG</p>

              </div>

              <div class="card-footer text-center ">
                <button class="btn-success text-center">
                  <a href="{% url 'details' i.id %}" class="card-link " style="color: white; ">Details</a>
                </button>
                <a href="" class="card-link " style="color: white; "><img src="{% static 'img/cart-plus.svg' %}"
                    width="36px" alt=""></a>

              </div>
            </div>
          </div>
          {% endfor %}
          <!--fin de la boucle-->



        </div>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% endblock %}