{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg  fixed-top " style="background-color:  rgb(25, 14, 126); color: white;">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="{% url 'index' %}">
          <img src="{% static 'img/logo.png' %}" alt="" width="60">
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link acceuil" href="{% url 'index' %}"
              style="font-family: 'Times New Roman', Times, serif;">Acceuil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link boutique" href="{% url 'boutique' %}"
              style="font-family: 'Times New Roman', Times, serif;">Boutique</a>
          </li>
          <li class="nav-item">
            <a class="nav-link annonce" href="{% url 'annonce' %}"
              style="font-family: 'Times New Roman', Times, serif;">Annonce</a>
          </li>
          <li class="nav-item">
            <!--<a class="nav-link investissement" href="#">investissement</a>-->
          </li>
          <li class="nav-item">
            <!--  <a class="nav-link freelance" href="freelance" style="font-family: 'Times New Roman', Times, serif;"></a>-->
          </li>
          <li class="nav-item">
            <a class="nav-link apropos" href="{% url 'apropos' %}"
              style="font-family: 'Times New Roman', Times, serif;">Apropos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link contact" href="{% url 'contact' %}"
              style="font-family: 'Times New Roman', Times, serif;">contact</a>
          </li>
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link contact" href="allcommande"
              style="font-family: 'Times New Roman', Times, serif;">commandes</a>
          </li>
          {% endif %}
        </ul>

        <!-- Left links -->
      </div>

      <!--Copsible wrapperlla  

               Right elements 
              <div class="d-flex align-items-center">
                Icon 
                <a class="text-reset me-3 hidden-arrow" href=""  style="margin-left: 1em;">
                  <i class="fas fa-shopping-cart"></i>
                  <span class="badge rounded-pill badge-notification bg-danger">2</span>
                </a>

                Notifications 
                <a
                  class="text-reset me-3  hidden-arrow"
                  href="actualite"
                  
                  role="button"
                  
                  aria-expanded="false"
                  style="marlaminegin-left: 1em; margin-right: 3em;"
                >
                  <i class="fas fa-bell"></i>
                  <span class="badge rounded-pill badge-notification bg-danger">4</span>
                </a> -->


      <!--connexion-->




      <!-- Avatar -->
      {% if user.is_authenticated %}



      <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="index" id="navbarDropdownMenuLink"
        role="button" data-mdb-toggle="dropdown" aria-expanded="false" style="margin-left: 1em;text-decoration: none;">
        <span class="text-capitalize text-white-50"
          style="font-family: 'Times New Roman', Times, serif;">{{ user.username }}</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">


        <li>
          <a class="dropdown-item" href="{% url 'deconnexion' %}"
            style="font-family: 'Times New Roman', Times, serif;">Deconnecter</a>
        </li>
      </ul>
    </div>
    {% else %}
    <a href="{% url 'connexion' %}" class="btn btn-primary"
      style="font-family: 'Times New Roman', Times, serif;">connexion</a>
    {% endif %}
    <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</body>

</html>